<h1>This is template chat web socket</h1>

<input type="text" id="name" placeholder="Your name"/>
<input type="text" id="room" placeholder="ID Room"/>
<button id="btn_join">Join</button>
<br>
<br>
<input type="text" id="message" placeholder="message">
<button id="btn_send">Send</button>

<ul id="ul_message">

</ul>
<script src="/socket.io/socket.io.js">

</script>
<script src="js/client.js"></script>